#FileDropBox{
 height:80px;
 width:100%;
 border:solid 2px #000000;
}

#testDisplay{
 display: none;
}

#testResult{
 display: none;
}

/* ボタン以外を非表示 */
#testResult>*:not(button){
 display: none;
}


.mybody{
 display: none;
}

#fileLoadFromServerModal .modal-body>div>div.fileListTitle{
 background-color:#dddddd;
 overflow: auto;
 width: 100%;
}


#fileLoadFromServerModal .modal-body>div>div.fileListTitle>button{
 float: right;
}

#fileLoadFromServerModal .modal-body>div>div.fileListTitle>div{
 clear: both;
}

/* スタイル確認用 */
.forDebug{
 display:none;
}
